.itemDetail {
    height: 100%;
    width: 100%;
    display: flex;
}

.itemDetail span {
    width: 50%;
}

span.img-detail {
    text-align: right;
}

.itemDetail img {
    height: 100%;
    object-fit: cover;
}

.txt-detail {
    height: max-content;
    margin: auto;
    padding: 50px;
    box-shadow: 5px 5px 20px #a9a1982e;
}

.detail-title {
    text-align: left;
}

p.detail-price {
    font-family: 'Montserrat';
    color: var(--color-marcador);
    font-size: x-large;
}

.detail-description {
    margin-top: 25px !important;
    font-size: large;
    color: var(--color-texto);
}